{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier"
  ],
  "rules": {
    "@typescript-eslint/no-empty-interface": "warn",
    "no-empty-pattern": "warn",
    "no-unused-vars": "warn",
    "@typescript-eslint/no-empty-function": "off",
    "no-constant-condition": "off"
  },
  "env": { "browser": true, "node": true }
}
