@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
}

@layer base {
  body {
    @apply bg-app-medium font-roboto text-app-text;
  }
  td {
    @apply text-sm;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .cell-caption-text {
    @apply text-xs opacity-25;
  }

  .form-divider-y {
    @apply col-span-full h-0.5 rounded-full bg-app/25 shadow;
  }

  .form-divider-x {
    @apply h-full w-0.5 rounded-full bg-app/25 shadow;
  }

  .components-input-label {
    @apply mb-2 block font-medium text-app-dark;
  }
}

@layer utilities {
  .hide-scroll-bar::-webkit-scrollbar {
    display: none;
  }

  .focus-ring {
    @apply outline-none ring-app-info focus:ring-2;
  }
}
