@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Roboto';
}

@layer base {
  body {
    @apply font-roboto text-app-text;
  }
  td {
    @apply text-sm;
  }

  td p {
    @apply max-w-cellText overflow-hidden text-ellipsis;
  }

  input[type='number']::-webkit-inner-spin-button,
  input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

@layer components {
  .cell-caption-text {
    @apply text-xs opacity-25;
  }
}
